<div class="row">
  <h1 class="display-1 p-4 text-center">Sign up</h1>
</div>

<div class="row bg-light p-4 rounded-3 border border-secondary">
  <form method="POST" action="/signup">
    {{ form.crsf_token }}
    <div class="container">
      
      <div class="row mb-3">
          {{ form.alias(class="form-control", placeholder="User name") }}
      </div>
      
      <div class="row mb-3">
          {{ form.name(class="form-control", placeholder="Your full name") }}
      </div>

      <div class="row mb-3">
        {{ form.email(class="form-control", placeholder="Your Email") }}
      </div>
      
      <div class="row mb-3">
        {{ form.password(class="form-control", placeholder="Password") }}
      </div>
      
      <div class="row mb-3">
        {{ form.confirm(class="form-control", placeholder="Repeat password") }}
      </div>
    </div>

    <div class="row mb-3">
      <div class = "d-flex justify-content-start">
        <div class="">
          <button class="btn btn-primary btn-lg me-2">Sign up</button>
        </div>
      
        <div class="align-self-end">
          Already have a user? Login <a href="{{ url_for('auth.login') }}">here</a>
        </div>
      </div>
    </div>
  
  </form>

</div>

