{% extends 'base.html'%}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="text-center">Modify user {{ user.alias }}</h1>
  </div>

  <div class="row bg-light p-2 rounded-3 border border-secondary">
    
    <form method="POST">
      {{ form.crsf_token }}
      <fieldset class="form-group">
      <div class="container">
        
        {% if user.admin %}
        <div class="row mb-3">
            {{ form.alias(class="form-control", placeholder="User name") }}
        </div>
        {% endif %}

        <div class="row mb-3">
            {{ form.name(class="form-control", placeholder="Your full name") }}
        </div>

        <div class="row mb-3">
          {{ form.email(class="form-control", placeholder="Your Email") }}
        </div>
        
        {% if 'admin' in user.u_groups.split(',') %}
          <div class="row mb-3">
            {{ form.u_groups(class="form-control") }}
          </div>
       
          <div class="row mb-3">
            <div>
              {{ form.active(class="form-check-input") }}
              Active
              </br>
            </div>
            <div>
              {{ form.admin_active(class="form-check-input") }}
              Admin is active
            </div> 
          </div>
        {% endif %}
        </fieldset>
        <div class="form-group p-2">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </div>
    </form>

  </div>
  
</div>
{% endblock %}
