{% extends 'base.html' %}

{% block content %}
  <form id="checkboxes" method="POST" aria-label="Choose files">
    <input type="submit" class="btn btn-primary" name="accept_files" value="Accept">
    <input type="submit" class="btn btn-secondary" name="cancel_files" value="Cancel">
  </form>

  <div class="list-group">
  {% for file in files %}
    <div class="list-group-item">
      <input form="checkboxes" class="form-check-input" type="checkbox" name="choose_{{file['name']}}" value="{{file['permanent_link']}}">
    
    {% if file['type'] == 'dir' %}
      <a href="/add_files?dir={{file['display_path']}}" class="list-group-item-action"><i class="bi bi-folder-fill" style="color: orange;"></i> {{file['name']}}</a>
    {% else %}
      {% if file['name'].split('.')[-1] == 'osheet' %}
        <a href="https://nas.prome.sg:5001/oo/r/{{file['permanent_link']}}" class="list-group-item-action" target="_blank"><i class="bi bi-file-earmark-excel-fill" style="color: green;"></i> {{file['name']}}</a>
      {% elif file['name'].split('.')[-1] == 'odoc' %}
        <a href="https://nas.prome.sg:5001/oo/r/{{file['permanent_link']}}" class="list-group-item-action" target="_blank"><i class="bi bi-file-earmark-word-fill" style="color: blue;"></i> {{file['name']}}</a>
      {% elif file['name'].split('.')[-1] == 'pdf' %}
        <a href="https://nas.prome.sg:5001/oo/r/{{file['permanent_link']}}" class="list-group-item-action" target="_blank"><i class="bi bi-file-earmark-pdf-fill" style="color: red;"></i> {{file['name']}}</a>
      {% else %}
        <a href="https://nas.prome.sg:5001/d/f/{{file['permanent_link']}}" class="list-group-item-action" target="_blank"><i class="bi bi-file-earmark"></i> {{file['name']}}</a>
      {% endif %}
    {% endif %}
    </div>
  {% endfor %}
  </div>




  {% endblock %}

