{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">{{ note.fullkey }}</h1>
<form method="POST">
    {{ form.csrf_token }}
    <fieldset class="form-group">
   
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-8">
          <div class="container">
            <div class="row p-2">
              <div class="col-2">
                {{ form.permanent(class="form-check-input") }}
                {{ form.permanent.label(class="form-check-label") }}
              </div><div class="col-6">
                {{ form.n_date.label(class="form-label") }}
                {{ form.n_date(class="form-control") }}
              </div>
              <div class="col-4">
                {{ form.year.label(class="form-label") }}
                {{ form.year(class="form-control") }}
              </div>
            </div>
            <div class="row p-2">
             <div class="col-4">
                {{ form.proc.label(class="form-label") }}
                {{ form.proc(class="form-control") }}
              </div>
              <div class="col-8">
                {{ form.sender.label(class="form-label") }}
                {{ form.sender(class="form-control") }}
              </div>
            </div>
            <div class="row p-2">
              <div class="col">
                {{ form.content.label(class="form-label") }}
                {{ form.content(class="form-control") }}
              </div>
            </div>
            <div class="row p-2">
              <div class="col">
                {{ form.ref.label(class="form-label") }}
                {{ form.ref(class="form-control") }}
              </div>
            </div> 
          </div>
        </div>
  
        {% if ('cr' in user.groups and (note.flow == 'in' or note.reg in ['r','ctr'])) or 'admin' in user.groups %}
        <div class="col-4 border rounded p-2">
          <h3>Receiver</h3>
          <div class="form-check">
            {% for rec in form.receiver %}
              {{ rec(class="form-check-input") }}
              {{ rec.label(class="form-check-label") }}
              </br>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    
    
    </fieldset>

    <div class="form-group p-2">
      {{ form.submit(class="btn btn-primary")}}
    </div>
  </div>
</form>

{% endblock %}

