{% extends 'base.html' %}

{% block content %}
<h1 class="text-center display-4 mb-5 border rounded bg-secondary text-white">{{ note.fullkey }}</h1>
<form method="POST">
    {{ form.csrf_token }}
    <fieldset class="form-group">
   
    <div class="d-flex d-flex-wrap justify-content-center m-2" style="background-color: #eeeeee;">
      
      <div class="flex-grow-1 p-2">
        <h3 class="mb-4">Data</h3>
        
        <div class="d-flex d-flex-wrap">
          {% if user.admin and 'despacho' in user.groups %}
            <div class="p-2">
              <p></p>
              <span data-bs-toggle="tooltip" title="Only permanente"><i class="bi bi-asterisk" style="color: red"></i></span>
              {{ form.permanent(class="form-check-input") }}
            </div>
          {% endif %}
          <div class="p-2">
            {{ form.n_date.label(class="form-label") }}
            {{ form.n_date(class="form-control") }}
          </div>
          <div class="p-2">
            {{ form.year.label(class="form-label") }}
            {{ form.year(class="form-control") }}
          </div>
          <div class="p-2">
            {{ form.proc.label(class="form-label") }}
            {{ form.proc(class="form-control") }}
          </div>
          <div class="p-2">
            {{ form.sender.label(class="form-label") }}
            {{ form.sender(class="form-control") }}
          </div>
        </div>

        <div class="mb-4">
          {{ form.content.label(class="form-label") }}
          {{ form.content(class="form-control") }}
        </div><div class="mb-4">
          {{ form.content_jp.label(class="form-label") }}
          {{ form.content_jp(class="form-control") }}
        </div>
        {% if 'despacho' in user.groups %}
          <div class="mb-4">
            {{ form.comments.label(class="form-label") }}
            {{ form.comments(class="form-control") }}
          </div>
        {% endif %}
        <div class="mb-4">
          {{ form.ref.label(class="form-label") }}
          {{ form.ref(class="form-control") }}
        </div>
        <div class="">
          {{ form.submit(class="btn btn-primary")}}
        </div>
      </div>
      
      <div class="p-2">
        {% if note.reg in ['ctr','r'] and ( note.flow == 'in' and ('despacho' in user.groups or user.admin) or note.flow == 'out' and (user.admin or note.sender_id == user.id) ) %}
          <h3 class="mb-4">Receiver</h3>
          
          <div class="d-flex d-flex-wrap">
            <input type="button" class="btn btn-primary mb-2 mr-2" id="selectall" name="selectall" autocomplete="off" checked onclick="eventCheckBox()" value="All">
            <input class="form-control mb-2" id="recInput" type="text" placeholder="Search..">
          </div>

          <div class="">
            <ul class="list-group" id="recList">
            {% for rec in form.receiver %}
              {% if rec.checked %} 
                <li class="list-group-item p-1">
                  {{ rec(class="form-check-input chbox") }}
                  {{ rec.label(class="form-check-label chbox_label") }}
                </li>
              {% endif %}
            {% endfor %}
            {% for rec in form.receiver %}
              {% if not rec.checked %} 
                <li class="list-group-item p-1">
                  {{ rec(class="form-check-input chbox") }}
                  {{ rec.label(class="form-check-label chbox_label") }}
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
          
          <script>
            function eventCheckBox() {
              let valueFilter = document.getElementById("recInput");
              let value = valueFilter.value.toLowerCase();
              let checkboxs = document.getElementsByClassName("chbox");
              let labels = document.getElementsByClassName("chbox_label");

              for(let i = 0; i < checkboxs.length ; i++) {
                if (labels[i].textContent.toLowerCase().includes(value)) {
                  checkboxs[i].checked = !checkboxs[i].checked;
                }
              } 
            }
          </script>

          <script>
          $(document).ready(function(){
            $("#recInput").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#recList li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
            });
          });
          </script>

        {% endif %}
      </div>
    
    </div>

    </fieldset>

</form>

{% endblock %}

