{{ note.row_decoration(reg,user)|safe }}
  
  <!-- Protocol number with link -->
  <th scope="row">
    {{ note.fullkey_link_html(reg)|safe }}
  </th>

  <!-- Action buttons -->
  <td>
    {% include 'register/table_row_buttons.html' %}
  </td>

  <!-- Date -->
  <td>
    <span class="d-md-none d-lg-block"><small>{{ note.date.strftime('%y-%m-%d') }}</small></span>
  </td>

  <!-- Deparments -->
  {% if not 'cl_' in reg %}
  <td>
    {{ note.dep_html|safe }}
  </td>
  {% endif %}

  <!-- Comments and content with jp version if needed -->
  <td>
    {% if note.comments and note.is_involve(user,reg) %}
    <span data-bs-toggle="tooltip" title="{{note.comments}}"><i class="bi bi-file-earmark-text" style="color: OrangeRed;"></i></span>
    {% endif %}
    {% if "jp" in user.groups and note.content_jp %}
      {{ note.content_jp }}
    {% else %}
      {{ note.content }}
    {% endif %}
  </td>

  <!-- Link to folder, button to updateFiles and files in folder -->
  <td>
    {% if user.admin or reg.split('_')[0] in ['min','des','box'] or (user == note.sender or 'cl_out' in reg) and note.state == 0 %}
      <button type="submit" form="addfiles" class="btn p-0" data-bs-toggle="modal" data-bs-target="#wait" name="addfiles" value="{{note.id}}"><i class="bi bi-folder-plus" style="color: orange;"></i></button>
    {% endif%}

    {% if note.permanent_link %}
      <a href="https://nas.prome.sg:5001/d/f/{{note.permanent_link}}" data-bs-toggle="tooltip" title="Folder" target="_blank"><i class="bi bi-folder-fill" style="color: orange;"></i></a>
    {% endif %}

    <span>:</span> 
    {% for file in note.files %}
      {{ file.icon_html|safe }}
    {% endfor %}
  </td>

  <!-- Refs of the note with tooltip with content -->
  <td>
    {{ note.refs_html(reg)|safe }}
  </td>

</tr>
