{% if file['date'] > note['n_date'] and file['date'] >= note.date and not user.alias in note.read_by %}
  {% if file['type'] == 'dir' %}
    <a href="https://nas.prome.sg:5001/d/f/{{file['permanent_link']}}" class="" target="_blank" data-bs-toggle="tooltip" title="{{file['name']}}">
      <i class="bi bi-folder-fill" style="color: orange;"></i>
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">New alerts</span>
        </span>
    </a>
  {% elif file['name'].split('.')[-1] == 'osheet' %}
    <a href="https://nas.prome.sg:5001/oo/r/{{file['permanent_link']}}" class="" target="_blank" data-bs-toggle="tooltip" title="{{file['name']}}">
      <i class="bi bi-file-earmark-excel-fill position-relative" style="color: green;">
        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">New alerts</span>
        </span>
      </i>
    </a>
  {% elif file['name'].split('.')[-1] == 'odoc' %}
    <a href="https://nas.prome.sg:5001/oo/r/{{file['permanent_link']}}" class="" target="_blank" data-bs-toggle="tooltip" title="{{file['name']}}">
      <i class="bi bi-file-earmark-word-fill position-relative" style="color: blue;">
        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">New alerts</span>
        </span>
      </i>
    </a>
  {% elif file['name'].split('.')[-1] == 'pdf' %}
    <a href="https://nas.prome.sg:5001/d/f/{{file['permanent_link']}}" class="" target="_blank" data-bs-toggle="tooltip" title="{{file['name']}}">
      <i class="bi bi-file-earmark-pdf-fill position-relative" style="color: red;">
        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">New alerts</span>
        </span>
      </i>
    </a>
  {% else %}
    <a href="https://nas.prome.sg:5001/d/f/{{file['permanent_link']}}" class="" target="_blank" data-bs-toggle="tooltip" title="{{file['name']}}">
      <i class="bi bi-file-earmark position-relative">
        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">New alerts</span>
        </span>
      </i>
    </a>
  {% endif %}
{% else %}
  {% if file['type'] == 'dir' %}
    <a href="https://nas.prome.sg:5001/d/f/{{file['permanent_link']}}" class="" target="_blank" data-bs-toggle="tooltip" title="{{file['name']}}"><i class="bi bi-folder-fill" style="color: orange;"></i></a>
  {% elif file['name'].split('.')[-1] == 'osheet' %}
    <a href="https://nas.prome.sg:5001/oo/r/{{file['permanent_link']}}" class="" target="_blank" data-bs-toggle="tooltip" title="{{file['name']}}"><i class="bi bi-file-earmark-excel-fill" style="color: green;"></i></a>
  {% elif file['name'].split('.')[-1] == 'odoc' %}
    <a href="https://nas.prome.sg:5001/oo/r/{{file['permanent_link']}}" class="" target="_blank" data-bs-toggle="tooltip" title="{{file['name']}}"><i class="bi bi-file-earmark-word-fill" style="color: blue;"></i></a>
  {% elif file['name'].split('.')[-1] == 'pdf' %}
    <a href="https://nas.prome.sg:5001/d/f/{{file['permanent_link']}}" class="" target="_blank" data-bs-toggle="tooltip" title="{{file['name']}}"><i class="bi bi-file-earmark-pdf-fill" style="color: red;"></i></a>
  {% else %}
    <a href="https://nas.prome.sg:5001/d/f/{{file['permanent_link']}}" class="" target="_blank" data-bs-toggle="tooltip" title="{{file['name']}}"><i class="bi bi-file-earmark"></i></a>
  {% endif %}
{% endif %}

