{{ note.state_html(reg,user,ctr)|safe }}


{% if user.admin or reg.split('_')[0] in ['min','des','box'] or note.state == 0 and note.rel_flow(reg) == 'out' and (user == note.sender or 'cl_out' in reg) or 'cl_in' in reg %}
  <span class="text-muted">|</span>
  
  {% if reg.split('_')[0] == 'cl' %}
  <a href="/edit_note?note={{note.id}}&ctr={{reg.split('_')[2]}}" data-bs-toggle="tooltip" title="Edit note"><i class="bi bi-pencil"></i></a>
  {% else %}
  <a href="/edit_note?note={{note.id}}" data-bs-toggle="tooltip" title="Edit note"><i class="bi bi-pencil"></i></a>
  {% endif %}
  
  {% if not 'cl_in' in reg %}
  <button class="btn btn-link p-0" onclick="myFunction('{{note.fullkey}}',{{note.id}})"><i class="bi bi-trash3-fill" style="color: red"></i></button>
  {% endif %}
{% endif%}

{% if reg.split('_')[0] == 'min' %}
  <span class="text-muted">|</span>
  <a href="/register?reg=cr_out_cg&ref={{note.id}}" data-bs-toggle="tooltip" title="Generate note to cr"><i class="bi bi-file-earmark-arrow-up" style="color: blue;"></i></a>
  <a href="/register?reg=cr_out_asr&ref={{note.id}}" data-bs-toggle="tooltip" title="Generate note to asr"><i class="bi bi-file-earmark-arrow-up" style="color: red;"></i></a>
  <a href="/register?reg=cr_out_r&ref={{note.id}}" data-bs-toggle="tooltip" title="Generate note to r"><i class="bi bi-file-earmark-arrow-up" style="color: yellow;"></i></a>
  <a href="/register?reg=cr_out_ctr&ref={{note.id}}" data-bs-toggle="tooltip" title="Generate note to ctr"><i class="bi bi-file-earmark-arrow-up" style="color: green;"></i></a>
{% elif reg.split('_')[0] == 'crNO' %}
  <span class="text-muted">|</span>
  <a href="/register?reg=min_all_&ref={{note.id}}" data-bs-toggle="tooltip" title="Generate minuta from note"><i class="bi bi-file-earmark-arrow-up"></i></a>
{% endif %}
