  <form class="invisible" id="addfiles" method="POST">
  </form>
<div class="table-responsive">  
  <table class="table table-sm table-striped">
    <thead class="">
      <tr class="bg-dark">
        <th></th>
        <th>Date</th>
        <th>No</th>
        {% if not 'cl_' in reg %}
        <th>Dep</th>
        {% endif %}
        <th>Content</th>
        <th></th>
        <th>Ref</th>
      </tr>
    </thead>
    <tbody>
    {% for note in notes %}
      {{ note.row_decoration(reg,user)|safe }}
        <td>
          {% include 'register/table_buttons.html' %}
        </td>
        
        <td>
          <span class="d-md-none d-lg-block"><small>{{ note.date.strftime('%y-%m-%d') }}</small></span>
        </td>
        
        <td>
          {% if reg.split('_')[0] == 'min' %}
            <a href="?reg=cr_all_{{reg.split('_')[2]}}&h_note={{note.id}}" target="_blank">{{ note.fullkey_html|safe }}</a>
          {% else %}
            <a href="?reg={{reg.split('_')[0]}}_all_{{reg.split('_')[2]}}&h_note={{note.id}}" target="_blank">{{ note.fullkey_html|safe }}</a>
            {% if note.permanent %}
              <span data-bs-toggle="tooltip" title="Only permanente"><i class="small bi bi-asterisk" style="color: red;"></i></span>
            {% endif %}
          {% endif %}
        </td>
       
        {% if not 'cl_' in reg %}
        <td>
          {% if note.flow == 'out' %}
            <span class="badge bg-primary">{{note.sender}}</span>

          {% elif note.flow == 'in' %}
            {% if note.receiver|length > 1 %}
              <span class="badge bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{{note.receivers}}">deps</span>
            {% elif note.receiver %}
              <span class="badge bg-danger">{{note.receiver[0]}}</span>
            {% endif %}
          {% endif %}
        </td>
        {% endif %}

        <td>
          {% if note.comments and note.is_involve(user) %}
          <span data-bs-toggle="tooltip" title="{{note.comments}}"><i class="bi bi-file-earmark-text" style="color: OrangeRed;"></i></span>
          {% endif %}
          {% if "jp" in user.groups and note.content_jp %}
            {{ note.content_jp }}
          {% else %}
            {{ note.content }}
          {% endif %}
        </td>
       
        <td>
          {% if note.permanent_link %}
            <a href="https://nas.prome.sg:5001/d/f/{{note.permanent_link}}" data-bs-toggle="tooltip" title="Folder" target="_blank"><i class="bi bi-folder" style="color: orange;"></i></a>
          {% endif %}

          {% if user.admin or user == note.sender or 'cl_out' in reg and note.state == 0 %}
            <button type="submit" form="addfiles" class="btn p-0" data-bs-toggle="modal" data-bs-target="#wait" name="addfiles" value="{{note.id}}"><i class="bi bi-folder-plus" style="color: orange;"></i></button>
          {% endif%} 

          {% for file in note.files %}
            {% include 'register/table_file.html' %}
          {% endfor %}
        </td>

        <td>
          {{ note.refs|safe }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
