<div class="offcanvas offcanvas-start" id="offlinks">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title">Useful links</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <h4>Statuta</h4>
    <ul>
      <li><a href="https://opusdei.org/es/article/estatutos-del-opus-dei/" target="_blank">Statuta (Español y latín)</a></li>
      <li><a href="https://opusdei.org/en/article/statutes-of-opus-dei-eng/" target="_blank">Statuta (Versión no oficial en inglés)</a></li>
    </ul>
    <br>
    <h4>Decretos generales</h4>
    <ul>
      <li><a href="https://nas.prome.sg:5001/d/f/tPk7XySpyCYr7fMybY0aCmYGt1dppjDu" target="_blank">Decr. Gen. 1/99</a> (regional and local government)</li>
      <li><a href="https://nas.prome.sg:5001/d/f/tPk8eXRXwndVyw5gajRN0WWSSzUrPgRW" target="_blank">Decr. Gen. 2/99</a> (ascription to the Prelature)</li>
      <li><tab>Enmendado por el Decr. Gen. 3/2020 (<a href="https://nas.prome.sg:5001/d/f/tPl5ccK4fo3Ic0YHyEo0EW19UOnLWqKv" target="_blank">Español</a>, <a href="https://nas.prome.sg:5001/d/f/tPkxt7902yL7oUPnF6RRef4toOkYZrlE" target="_blank">latín</a>)</li>
      <li><a href="https://nas.prome.sg:5001/d/f/tPk8vecvjC3xIZBgIajKPIN3G60lp4dv" target="_blank">Decr. Gen. 3/99</a> (appointments)</li>
      <li><a href="https://nas.prome.sg:5001/d/f/tPk96ALwNVZ5AJ4LloNIZzgesrPo6e3s" target="_blank">Decr. Gen. 4/99</a> (priests incardinated in the Prelature)</li>
      <li><a href="https://nas.prome.sg:5001/d/f/tPk9GeW9oXDB84Pgv6hUmvJDGDEVV9U3" target="_blank">Decr. Gen. 5/99</a> (advise on publications)</li>
      <li><a href="https://nas.prome.sg:5001/d/f/tPk9qkhGRvbA6udlLzzkmEvPtpHCOe9Q" target="_blank">Decr. Gen. 6/99</a> (financial matters)</li>
      <li><a href="https://nas.prome.sg:5001/d/f/tPk7fjjj0jFxLfzR8T02edbYwTzuBOXX" target="_blank">Decr. Gen. 1/2000</a> (confirmation of definitive incorporation)</li>
    </ul>
    <li><a href="https://nas.prome.sg:5001/d/f/tQ2ozs2wfM3zuQHU9nnXOt98R3UnwlUs" target="_blank">Reglamento de la Comisión Regional</a></li>
    <li><a href="https://nas.prome.sg:5001/d/f/uHnNXkRBgHYPUYlQaeKdoPUbrNmtzOkO" target="_blank">Regulae Internae pro Administrationibus</a> (excluding the Latin version)</li>
    <li><a href="https://nas.prome.sg:5001/d/f/shLN2kyjyMGJRwQkoct6tfqxv5Bu6jXf" target="_blank">Experiencias regionales</a> | <a href="https://nas.prome.sg:5001/d/f/shLNAlRATLkvqzIAfjjALplcE6ACttNt" target="_blank">Anexos</a> | <a href="https://nas.prome.sg:5001/oo/r/uLqSm5zUC1lj7deS26dfrpjoJ33AypX1" target="_blank">Addenda</a></li>
    <li><a href="https://nas.prome.sg:5001/d/f/up4iNEGnaDcQXU11YXqmRQm6T0CZcQQx" target="_blank">Construcciones I (B24, Oratorios)</a> (contraseña: soiroma18)</li>
    <li><a href="https://nas.prome.sg:5001/oo/r/uKKPRdLu5IXxDExeNYcNdJYuhMJsKLKP" target="_blank">Formularios para diversas decisiones del Vicario Regional</a></li>
    <li><a href="https://nas.prome.sg:5001/oo/r/sr3yteryu0DapMxeYQ3tNiApGVoP5Lzi" target="_blank"></a>Libro de Actas de Aes</li>
    <li><a href="https://nas.prome.sg:5001/d/f/up4MbWCUsve7jzfqZZt08OGvBJdidO9f" target="_blank">Impresos (C, D, E, F, S) para uso de la cr</a> | <a href="https://nas.prome.sg:5001/d/f/up4VrcufQRpJTQQ9NnIzOAOTLQcP31aZ" target="_blank">de los ctr</a></li>
    <li><a href="https://nas.prome.sg:5001/d/f/uYIe5vJ6nrVgBVFvjCRcVXkDXu8vcT6F" target="_blank">Decreto del stgr</a> y sus <a href="https://nas.prome.sg:5001/d/f/uYIe5nDXazsUCiFUNZjCPceleGBkuSIU" target="_blank">Estatutos</a></li>
    <li><a href="https://nas.prome.sg:5001/d/f/uR1JiqTFfYKusytvr8yVgwbk4WCNJ0r9" target="_blank">Venias de ctr</a></li>
    <li><a href="https://nas.prome.sg:5001/d/f/shLaPrIUX9rGlWtO8sMxPfuTp8tFZPW8" target="_blank">Experiencias de formación en el ámbito local</a> | <a href="https://nas.prome.sg:5001/oo/r/s8srO9Ks6FODOndAjb39B8ViicYD7cDr" target="_blank">Addenda to Spanish version</a></li>
    <li><a href="https://nas.prome.sg:5001/d/f/sfPXKymgaNxx6MkvabLwUQMCuJvQCcTd" target="_blank">English version: Experience on formation at the local level</a></li>
    <li><a href="https://nas.prome.sg:5001/oo/r/tP7fQokK0zQOVe7B2DTAw4ZKgS3dgwOl" target="_blank">Experiencias de formación en el ámbito local, n. 5 (japonés)</a></li>
    <li>Catecismo de la Obra <a href="https://nas.prome.sg:5001/d/f/tF4gn1lL5IwrzUWCOwehxScTnVUAkW3m" target="_blank">English 7th ed.</a> | <a href="https://nas.prome.sg:5001/d/f/tF4mdjiNzW2eCkuFh9sNhA4BRGwEnAmV" target="_blank">Chinese</a> | (<a href="https://nas.prome.sg:5001/d/f/sedWaaAf511vl7em3IYIH6ITWUDbAoya" target="_blank">Explanation of the content of the Chinese translation</a>)</li>
    <li><a href="https://nas.prome.sg:5001/d/f/sedXmBoWpvahfZwbe6Zfw4IX2M0oQPNK" target="_blank">Celebraciones en familia 2013</a></li>
    <li><a href="https://nas.prome.sg:5001/d/f/sedY0VqbH9AhDvQoBFAb453vDKO771lv" target="_blank">Experiencias sobre celebraciones litúrgicas</a></li>
  </div>
</div>
