<div class="offcanvas offcanvas-start" id="offlinks_cl">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title">Useful links</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <h4>Statuta</h4>
    <ul>
      <li><a href="https://opusdei.org/es/article/estatutos-del-opus-dei/" target="_blank">Statuta (Español y latín)</a></li>
      <li><a href="https://opusdei.org/en/article/statutes-of-opus-dei-eng/" target="_blank">Statuta (Versión no oficial en inglés)</a></li>
    </ul>
    <br>
    <h4>Experiencias</h4>
    <ul>
      <li><a href="https://nas.prome.sg:5001/d/f/uHnNXkRBgHYPUYlQaeKdoPUbrNmtzOkO" target="_blank">Regulae Internae pro Administrationibus</a> (excluding the Latin version)</li>
      <li><a href="https://nas.prome.sg:5001/d/f/shLaPrIUX9rGlWtO8sMxPfuTp8tFZPW8" target="_blank">Experiencias de formación en el ámbito local</a> | <a href="https://nas.prome.sg:5001/oo/r/s8srO9Ks6FODOndAjb39B8ViicYD7cDr" target="_blank">Addenda to Spanish version</a></li>
      <li><a href="https://nas.prome.sg:5001/d/f/sfPXKymgaNxx6MkvabLwUQMCuJvQCcTd" target="_blank">English version: Experience on formation at the local level</a></li>
      <li><a href="https://nas.prome.sg:5001/oo/r/tP7fQokK0zQOVe7B2DTAw4ZKgS3dgwOl" target="_blank">Experiencias de formación en el ámbito local, n. 5 (japonés)</a></li>
      <li>Catecismo de la Obra <a href="https://nas.prome.sg:5001/d/f/tF4gn1lL5IwrzUWCOwehxScTnVUAkW3m" target="_blank">English 7th ed.</a> | <a href="https://nas.prome.sg:5001/d/f/tF4mdjiNzW2eCkuFh9sNhA4BRGwEnAmV" target="_blank">Chinese</a> | (<a href="https://nas.prome.sg:5001/d/f/sedWaaAf511vl7em3IYIH6ITWUDbAoya" target="_blank">Explanation of the content of the Chinese translation</a>)</li>
      <li><a href="https://nas.prome.sg:5001/d/f/sedXmBoWpvahfZwbe6Zfw4IX2M0oQPNK" target="_blank">Celebraciones en familia 2013</a></li>
      <li><a href="https://nas.prome.sg:5001/d/f/sedY0VqbH9AhDvQoBFAb453vDKO771lv" target="_blank">Experiencias sobre celebraciones litúrgicas</a></li>
    </ul>
  </div>
</div>
