<div class="d-flex flex-sm-column flex-shrink-0 flex-row flex-nowrap bg-light align-items-center sticky-top">
  {% if 'cr' in current_user.groups %}
    <a href="/register?reg=pen_in_" class=" link-light text-decoration-none py-sm-1 py-lg-3 px-sm-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Pendings">
      <img src="static/icons/00-pendings.svg" width="35vmin" height="35vmin">
    </a>
    <a href="/register?reg=min_all_" class=" link-light text-decoration-none py-sm-1 py-lg-3 px-sm-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Minutas">
      <img src="static/icons/00-minutas.svg" width="35vmin" height="35vmin">
    </a>
  {% endif %}
  
  {% if current_user.is_authenticated%}
    {% if 'cr' in current_user.groups %}
    <div class=" dropdown">
      <a href="#" class="d-flex align-items-center justify-content-center link-light text-decoration-none py-1 py-lg-3 px-1" id="dropdownRegister" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="static/icons/00-register.svg" width="35vmin" height="35vmin" data-bs-toggle="tooltip" data-bs-original-title="Registers">
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownRegister">
        <li><a class="dropdown-item bg-danger badge" href="/register?reg=cr_in_cg">Mail from cg</a></li>
        <li><a class="dropdown-item bg-danger badge" href="/register?reg=cr_in_asr">Mail from asr</a></li>
        <li><a class="dropdown-item bg-danger badge" href="/register?reg=cr_in_r">Mail from r</a></li>
        <li><a class="dropdown-item bg-danger badge" href="/register?reg=cr_in_ctr">Mail from ctr</a></li>
        <li></br></li>
        <li><a class="dropdown-item bg-primary badge" href="/register?reg=cr_out_cg">Mail to cg</a></li>
        <li><a class="dropdown-item bg-primary badge" href="/register?reg=cr_out_asr">Mail to asr</a></li>
        <li><a class="dropdown-item bg-primary badge" href="/register?reg=cr_out_r">Mail to r</a></li>
        <li><a class="dropdown-item bg-primary badge" href="/register?reg=cr_out_ctr">Mail to ctr</a></li>
      </ul>
    </div>
    {% endif %}
    <!--
    <div class="">
      <a href="/file_manager?dir=/mydrive" class="nav-link link-light py-1 py-lg-3 px-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="My drive">
        <img src="static/icons/folder.svg" width="32" height="32">
      </a>
    </div>
    -->
    
    {% if 'despacho' in current_user.groups %}
    <div class="border-top">
      <a href="/register?reg=des_in_" class="nav-link link-light py-1 py-lg-3 px-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Despacho">
        <img src="static/icons/00-despacho.svg" width="35vmin" height="35vmin">
      </a>
    </div>
    {% endif %}

    {% if 'scr' in current_user.groups %}
    <div class="border-top">
      <a href="/inbox_scr" class="nav-link link-light py-1 py-lg-3 px-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Inbox">
        <img src="static/icons/00-inbox.svg" width="35vmin" height="35vmin">
      </a>
      <a href="/register?reg=box_out_" class="nav-link link-light py-1 py-lg-3 px-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Outbox">
        <img src="static/icons/00-outbox.svg" width="35vmin" height="35vmin">
      </a>
    </div>
    {% endif %}

    {% for gp in current_user.groups %}
      {% if gp[:3] == 'cl_' %}
      <div class="border-top">
        <a href="/register?reg=cl_in_{{gp[3:]}}" class="nav-link link-dark py-1 py-lg-3 px-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Mail from cr to {{gp[3:]}}">
          <img src="static/icons/00-inbox_ctr.svg" width="35vmin" height="35vmin">
        </a>
      </div>

      <div class="">
        <a href="/register?reg=cl_out_{{gp[3:]}}" class="nav-link link-dark py-1 py-lg-3 px-1" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Mail from {{gp[3:]}} to cr">
          <img src="static/icons/00-outbox_ctr.svg" width="35vmin" height="35vmin">
        </a>
      </div>
      {% endif %}
    {% endfor %}
    
    {% if 'cr' in current_user.groups %}
    <div class="border-top">
      <a class="btn nav-link link-light py-1 py-lg-3 px-1" type="button" title="" data-bs-toggle="offcanvas" data-bs-placement="right" data-bs-target="#offlinks">
        <img src="static/icons/00-links.svg" width="35vmin" height="35vmin">
      </a>
    </div>
    {% else %}
      <div class="border-top">
        <a class="btn nav-link link-light py-1 py-lg-3 px-1" type="button" title="" data-bs-toggle="offcanvas" data-bs-placement="right" data-bs-target="#offlinks_cl">
        <img src="static/icons/00-links.svg" width="35vmin" height="35vmin">
      </a>
    </div>{% endif %}
  {% endif %}

  <hr>

  <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center py-1 py-lg-3 px-1 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="static/icons/00-profile.svg" alt="mdo" width="35vmin" height="35vmin">
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      {% if current_user.is_authenticated%}
      <li><a class="dropdown-item" href="/edit_user?user={{current_user.id}}">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Log out</a></li>
      {% else %}
      <li><a class="dropdown-item" href="{{url_for('auth.login')}}">Log in</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{{url_for('auth.signup')}}">Sign up</a></li>
      {% endif %}
    </ul>
  </div>

</div>
