<div class="modal-dialog">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Choose files</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <!-- Modal body -->
    <div class="modal-body text-center">
      <form method="POST" enctype=multipart/form-data>
        <input type="file" name="files" multiple="multiple">
        <input type="submit" name="upload" value="Upload">
      </form>
    </div>

    <!-- Modal foot -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
